{#
/**
 * @file
 *
 * Page template for the Twigtastic theme
 */
#}
<div class="l-page">
  <header class="l-header">
    <div class="container">
      {% if logo %}
        <a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home">
          <img src="{{ logo }}" alt="{{ 'Home'|t }}"/>
        </a>
      {% endif %}

      {% if site_name or site_slogan %}
          {# Use h1 when the content title is empty #}
          {% if site_name %}
            <h1 class="site-name">
              <a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
            </h1>
          {% endif %}

          {% if site_slogan %}
            <h2 class="site-slogan">{{ site_slogan }}</h2>
          {% endif %}
      {% endif %}

      {% if page.header %}
        {{ page.header }}
      {% endif %}
    </div>
  </header>

  <div class="l-features-wrapper">
    <section class="l-features container">
      <header>

      </header>
      <div class="row">
        <div class="span-4">
          <section>
            {% if page.triptych_first %}
              {{ page.triptych_first }}
            {% endif %}
          </section>
        </div>
        <div class="span-4">
          <section>
            {% if page.triptych_middle %}
              {{ page.triptych_middle }}
            {% endif %}
          </section>
        </div>
        <div class="span-4">
          <section>
            {% if page.triptych_last %}
              {{ page.triptych_last }}
            {% endif %}
          </section>
        </div>
      </div>

      <ul class="actions">
        <li><a href="#contact" class="button button-icon fa fa-file">Yes, Tell Me More</a></li>
      </ul>
    </section>
  </div>

  <div class="l-banner-wrapper">
    <div class="inner">
      <section class="l-banner container">
        {% if page.banner %}
          {{ page.banner }}
        {% endif %}
      </section>
    </div>
  </div>

  <div class="l-main-wrapper body">
    <div class="l-main container">
      <div class="row">
        <article class="l-content span-8">
          {% if page.content %}
          {{ page.content }}
          {% endif %}
        </article>

        <div class="l-sidebar span-4">
          <section>
            {% if page.excerpt %}
              {{ page.excerpt }}
            {% endif %}
          </section>

          <section>
            <ul class="divided">
              <li>
                <article class="is-highlight">
                  {% if page.ofnote %}
                    {{ page.ofnote }}
                  {% endif %}
                </article>
              </li>
            </ul>
          </section>
        </div>
      </div>
    </div>
  </div>

  <div class="l-footer-wrapper body">
    <div class="l-footer container" id="contact">
      <header>
        <h2>Questions or comments? <strong>Get in touch:</strong></h2>
      </header>

      <div class="row">
        <div class="span-6">
          <section>
            {% if page.footer %}
              {{ page.footer }}
            {% endif %}
          </section>
        </div>

        <div class="span-6">
          <section>
            {% if page.footer2 %}
              {{ page.footer2 }}
            {% endif %}
          </section>
        </div>
      </div>
    </div>

    <div class="l-copyright container">
      <ul><li>Here Be Dragons</li></ul>
    </div>
  </div>

</div>
