{#
/**
 * @file
 * Page template for the Twigtastic theme
 */
#}
<div class="l-page">
  <header class="l-header">
    <div class="container">
      {% if logo %}
        <a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home">
          <img src="{{ logo }}" alt="{{ 'Home'|t }}"/>
        </a>
      {% endif %}

      {% if site_name or site_slogan %}
        {# Use h1 when the content title is empty #}
        {% if site_name %}
          <h1 class="site-name">
            <a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
          </h1>
        {% endif %}

        {% if site_slogan %}
          <h2 class="site-slogan">{{ site_slogan }}</h2>
        {% endif %}
      {% endif %}

      {{ page.header }}
    </div>
  </header>

  {% if page.triptych_first or page.triptych_middle or page.triptych_last %}
    <div class="l-features-wrapper">
      <section class="l-features container">
        <div class="row">
          <div class="span-4">
            <section>
              {{ page.triptych_first }}
            </section>
          </div>
          <div class="span-4">
            <section>
              {{ page.triptych_middle }}
            </section>
          </div>
          <div class="span-4">
            <section>
              {{ page.triptych_last }}
            </section>
          </div>
        </div>

        <ul class="actions">
          <li><a href="#contact" class="button button-icon fa fa-file">Yes, Tell Me More</a></li>
        </ul>
      </section>
    </div>
  {% endif %}

  {% if page.banner %}
    <div class="l-banner-wrapper">
      <div class="inner">
        <section class="l-banner container">
          {{ page.banner }}
        </section>
      </div>
    </div>
  {% endif %}

  <div class="l-main-wrapper body">
    <div class="l-main container">
      <div class="row">
        {% if page.content %}
          <article class="l-content span-8">
            {{ page.content }}
          </article>
        {% endif %}

        <div class="l-sidebar span-4">
          {% if page.excerpt %}
            <section>
              {{ page.excerpt }}
            </section>
          {% endif %}

          {% if page.ofnote %}
            <section>
              <ul class="divided">
                <li>
                  <article class="is-highlight">
                    {{ page.ofnote }}
                  </article>
                </li>
              </ul>
            </section>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <div class="l-footer-wrapper body">
    {% if page.footer or page.footer2 %}
      <div class="l-footer container" id="contact">
        <header>
          <h2>Questions or comments? <strong>Get in touch:</strong></h2>
        </header>

        <div class="row">
          <div class="span-6">
            <section>
              {{ page.footer }}
            </section>
          </div>

          <div class="span-6">
            <section>
              {{ page.footer2 }}
            </section>
          </div>
        </div>
      </div>
    {% endif %}

    <div class="l-copyright container">
      <ul><li>Here Be Dragons</li></ul>
    </div>
  </div>

</div>
