{#
/**
 * @file
 * Page template for the Twigtastic theme
 */
#}

<div class="container">

  <h2>Attributes="splitting and manipulating"</h2>
  <p>
    All the attributes:
    <code>&lt;tag{{ all_attributes }}&gt;</code>
  </p>

  <p>
    Class attributes split out and remainder attributes:
    <code>&lt;tag class="{{ split_class_attributes.class }}"{{ split_class_attributes }}&gt;</code>
  </p>

  <p>
    Manipulate Attributes:
    <code>&lt;tag class="{{ manipulate_attributes.class|join(', ') }}"{{ manipulate_attributes|replace({' checked': ''}) }}&gt;</code>
  </p>

</div>
