{#
/**
 * @file
 * Page template for the Twigtastic theme
 */
#}

{% set my_text = 'I <3 Drupal Twig' %}
{% set a_number = -2001.444 %}
{% set another_number = 210.444 %}
{% set fruit = ['apple', 'orange', 'citrus'] %}


<div class="container">
  <h2>Filters (Functions that always act on the value preceeding it)</h2>
  <p><strong>Print it:</strong> {{ my_text }}</p>

  <p><strong>UPPER CASE IT</strong>{{ my_text|upper }}</p>

  <p><strong>Chain some string filters:</strong>{{ my_text|lower|replace({'<3': 'love'})|capitalize }}</p>

  <p><strong>Chain some number filters:</strong> {{ a_number|abs|number_format() }}</p>

  <h2>Functions() - Act on the arguments passed in.</h2>

  <p><strong>Number function max():</strong> {{ max(a_number, another_number, random(4000)) }}</p>
  <p>{{ random(fruit) }}</p>
  <p>{{ random('ABC') }}</p>
  <p>{{ random() }}</p>
  <p>{{ min(another_number, random(5)) }}</p>

  <ol>
    {% for i in range(0, 6, 2) %}
      <li>{{ i }} {{ cycle(fruit, i) }}</li>
    {% endfor %}
  </ol>

</div>
