<p> null_var: {{ null_var }}</p>
<p> string_var: {{ string_var }}</p>
<p> numeric_var: {{ numeric_var }}</p>
<p> boolean_true: {{ boolean_true }}</p>
<p> boolean_false: {{ boolean_false }}</p>

<h3>Access Array Items</h3>
<p> array_var.0: {{ array_var.0 }}</p>
<p> array_var[1]: {{ array_var[1] }}</p>
<ul>
  {% for item in array_var %}
    <li>{{ item }}</li>
  {% endfor %}
</ul>

<h3>Accessing Associative Array by Key</h3>
<p> By pro: {{ assoc_array.city }}</p>
<p> Array Access: {{ assoc_array['building'] }}</p>
<ul>
  {% for item in assoc_array %}
    <li>{{ item }}</li>
  {% endfor %}
</ul>

<h3>Accessing Objects</h3>
<p> object.html: {{ object.html }}</p>
<p> object.render_array: {{ object.render_array }}</p>
